@(searchForm: Form[Search], university: String, alumni: List[Alumnus], org: List[Organization], salary: List[Salary], unilist: List[String])

@import helper._

@scripts = {
    <script type="text/javascript">
$(function () {
   	var availableTags = [
			 @for(u <- unilist) {
	          	@if( u != unilist.last){
             		"@u",
       	          }else{
	           		"@u"
	           	}
          	}
		];
		$( "#universityName" ).autocomplete({
			source: availableTags
		});
		@if(!alumni.isEmpty) {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'University Alumni Working in Major Organizations'
        },
        tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Job Share',
            data: [ 
                	@for(o <- org) {
	                	@if( o != org.last){
	                		['@o.orgName', @o.percent],
	                	}else{
	                		['@o.orgName', @o.percent]
	                	}
                	}
            ]
        }]
    });
    
$('#container2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Average Salary per Department (Masters)'
            },
            subtitle: {
               
            },
            xAxis: {
                categories: [
                    @for(s <- salary) {
 	                	@if( s != salary.last){
	                		['@s.branch'],
	                	}else{
	                		['@s.branch']
	                	}                   
                    }
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Average Salary per year (USD)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="padding:0;font-size:10px;"><b>{point.y:.1f} USD</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                data: [
                 @for(s <- salary) {
 	                	@if( s != salary.last){
	                		@s.aveSalary,
	                	}else{
	                		@s.aveSalary
	                	}                   
                    }
                ]
            }]
        });    


    
    $("#tabs").tabs();
    }
});

</script>    
}

@main("UniStats",searchForm,  scripts) {
@if(!alumni.isEmpty) {
 <h1 align="center">@university Alumni</h1>
   <div id="tabs">
	<ul>
		<li><a href="#tabs-1">Job Statistics</a></li>
		<li><a href="#tabs-2">Average Salary</a></li>
		<li><a href="#tabs-3">Alumni</a></li>
	</ul>
	<div id="tabs-1"><div id="container" style="min-width: 310px; max-width: 800px; height: 600px; margin: 0 auto">
</div></div>
	<div id="tabs-2"><div id="container2" style="min-width: 310px; max-width: 800px; height: 600px; margin: 0 auto">
</div></div>
	<div id="tabs-3" overflow: auto>
	  <TABLE BORDER="1"    WIDTH="50%"   CELLPADDING="2" CELLSPACING="1">
   		<TR>
      		<TH>First Name</TH>
      		<TH>Last Name</TH>
      		<TH>Designation</TH>
   		</TR>
   		
    	@for(alumnus <- alumni) {
            
            	<TR>
      				<TH>@alumnus.firstName</TH>
      				<TH>@alumnus.lastName</TH>
      				<TH>@alumnus.headline</TH>
   				</TR>                
            
        }
        
    </TABLE> 
	</div>
</div>
 }
}