@(university: String, alumni: List[Alumnus], map: Map[String, Integer])

@import helper._

@scripts = {
    <script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'University Alumni Working in Major Organizations'
        },
        tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Job Share',
            data: [ 
 					@for((key, value) <- map) {
                	['@key', @value],}
				['Others',0]
            ]
        }]
    });
    $("#tabs").tabs();
});

</script>    
}

@main("List of Alumni", scripts) {

<h1>@university Alumni</h1>
   <div id="tabs">
	<ul>
		<li><a href="#tabs-1">Job Statistics</a></li>
		<li><a href="#tabs-2">Average Salary</a></li>
		<li><a href="#tabs-3">Alumni</a></li>
	</ul>
	<div id="tabs-1"><div id="container" style="min-width: 310px; max-width: 600px; height: 600px; margin: 0 auto">
</div></div>
	<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
	<div id="tabs-3">
	  <TABLE BORDER="1"    WIDTH="50%"   CELLPADDING="2" CELLSPACING="1">
   		<TR>
      		<TH>First Name</TH>
      		<TH>Last Name</TH>
      		<TH>Position</TH>
      		<TH>Organization</TH>
   		</TR>
   		
    	@for(alumnus <- alumni) {
            
            	<TR>
      				<TH>@alumnus.firstName</TH>
      				<TH>@alumnus.lastName</TH>
      				<TH>@alumnus.position</TH>
      				<TH>@alumnus.organization</TH>
   				</TR>                
            
        }
        
    </TABLE> 
	</div>
</div>
    @form(routes.Application.home()) {
   		<input type="submit" value="Back to Search">
    }
    
}
